process {

    withName: FASTP {
        publishDir = [ 
        [
            path: "${params.outdir}/fastp/Result_fastq",
            mode:  'copy',
            pattern: '*.fastq.gz'
        ],
        [      
            path: "${params.outdir}/fastp/Result_report",
            mode: 'copy',
            saveAs: { filename -> filename.endsWith('.html') || filename.endsWith('.json') ? filename : null } 
         ]
    ]           
        }
    withName: SPADES {
        publishDir = [ 
            path: "${params.outdir}/Result_SPAdes",
            mode: 'copy'
    ]
        }

            }